/*==============
    General
================*/
html {
    height: 100%;
}
body {
  height: 100%;
}

.clearfix:after {
    clear: both;
    display: table;
    content: "";
}
.clearfix:before {
    clear:both;
}

ul, li {
    list-style-type: none;
}
body > ng-include {
    height: 100%;
}
header {
    height: 88px;
    background: #fff;
}
.main-logo {
    display: inline-block;
    margin: 0;
    float: right;
    padding: 10px;
}


.blue-border-bot {
    border-bottom: 2px solid #3BC5ED;
}

.tools-menu-icon {
    background: url("../images/burger.png") no-repeat right top;
    height: 45px;
    width:  55px;
    position: absolute;
    z-index: 11;
}
.tools-menu-icon.colored {
    background: url("../images/burger_pink.png") no-repeat 20% top;
}
.tools-menu {
    background: #eda947;
    color: #fff;

    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

    position: absolute;
    left: 0;
    top: 0;
    width: 70%;
    height: 100%;
    z-index: 10;
}
.tools-menu.ng-hide {
    left: -100%;
    display: block !important;
}
.tools-menu ul {
    margin: 85px 0 0;
    padding: 0;
}
.tools-menu li {
    padding: 15px 12%;
    border-top: 2px solid #fff;
    text-align: right;
    font-size: 20px;
}
.logo{
    background: url("../images/LingoBuddySmall.png") no-repeat center top;
    height: 75px;
    width: 100%;
    position: absolute;
    margin-top: 5px;
}
.logo-img {
    margin-top: 3px;
    margin-right: 95px;
    float: right;
    border: 2px solid #cf4e9a;
}
.tools-menu .logo {
    background-position: 89% top;
}
.profile-short {
    height: 75px;
}
.arrow {
    background: url("../images/arrows.png") no-repeat center top;
    height: 20px;
    width: 20px;
    display: inline-block;
}
.arrow.expand {
    background-position: 1px top;
    left: 50%;
}
.arrow.collapse {
    background-position: right top;
    left: 50%;
}
.expand-collapse {
    text-align: center;
    width: 100%;
    background-color: #b5ddfd;
    height: 20px;
    padding-top: 5px;
}
.profile-expanded .expand-collapse {
    padding-top: 2px;
}
.profile-long p {
    margin: 0 0 25px;
}